AWS_REGION = 
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_ACCOUNT_ID = 

IPGW_Name= 
Route_Table_Name=
SUBNET_A_Name=
SUBNET_B_Name=
SUBNET_C_Name=
SUBNET_GROUP_NAME=
VPC_Name=
Zone_1_Name=
Zone_2_Name=
Zone_3_Name=

# Security Groups envs
HTTP_PORT = 
HTTPS_PORT = 
SSH_PORT = 
NODEJS_PORT = 
POSTGRES_PORT = 
EGRESS_PORT = 
TCP_PROTOCOL = 
EGRESS_PROTOCOL = 
LOAD_BALANCER_SECURITY_CIDR = 

# RDS envs
RDS_STORAGE_TYPE = 
RDS_ENGINE = 
RDS_ENGINE_VERSION = 
RDS_MULTI_AZ = 
RDS_IDENTIFIER = 
RDS_INSTANCE_CLASS = 
RDS_NAME =
RDS_FINAL_SNAPSHOT_IDENTIFIER = 
RDS_USERNAME = 
RDS_PASSWORD = 
RDS_PUBLIC_ACCESSIBILITY = 
RDS_SKIP_FINAL_SNAPSHOT = 

# EC2 env
EBS_DEVICE_NAME=
EBS_VOLUME_SIZE = 
EBS_VOLUME_TYPE = 
ASG_INSTANCE_TYPE = 
ASG_KEY_NAME = 

# S3 envs
WEBAPP_BUCKET_NAME = 
WEBAPP_BUCKET_ACL =
WEBAPP_BUCKET_STORAGE_CLASS = 
WEBAPP_BUCKET_SEE_ALGORITHM = 

# Dynamo DB 
DYNAMO_DB_NAME = 
DYNAMO_DB_HASH_KEY = 

# CODEPPLOY envs
CODEDEPLOY_BUCKET_NAME = 
CODEDEPLOY_APPLICATION_NAME = 

# HOSTED Zone Envs
HOSTED_ZONE = 
HOSTED_ZONE_ID = 
API_DNS_RECORD_NAME = 
API_DNS_RECORD_TYPE = 

# LAMBDA envs
LAMBDA_BUCKET_NAME = 
LAMBDA_BUCKET_ACL = 